@mixin font-face($font-family, $file-path, $weight: normal, $style: normal ) {
    @font-face{
        font-family: $font-family;
        src: url('#{$file-path}.woff2');
        font-weight: $weight;
        font-style: $style;
    
    }
}
@include font-face("Lato", "../fonts/lato100", 100);
@include font-face("Lato", "../fonts/lato400", 400);
@include font-face("Lato", "../fonts/lato900", 900);
@include font-face("Myriad", "../fonts/MyriadPro-Regular", 400);
@include font-face("Open-sans", "../fonts/open-sans400", 400);
@include font-face("Open-sans", "../fonts/open-sans600", 600);

