@import "fonts";


.logo {
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 2.1rem;
  letter-spacing: 1.4px;

  &-dot {
    color: $t-blue;
    letter-spacing: 1.4px;

  }

  &--head {
    font-size: 6.2rem;
    text-align: center;

    .logo-dot {
      margin-left: -1rem;
      font-family: "Myriad", sans-serif;

    }
  }
  &--footer{
    font-size: 2.7rem;
  }
}

.wrap {
  max-width: 97.5rem;
  margin: 0 auto;
}

.headline-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;

  &__text {
    color: $t-blue;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 28px;
    letter-spacing: -0.56px;
  }

  &__subtitle {
    padding-top: 2.5rem;
    z-index: 3;

    .heart {
      display: inline-block;
      position: relative;
      z-index: 10;      

      &:before {
        content: "";
        position: absolute;
        top: 30%;
        display: block;
        right: 3.2rem;
        height: .2rem;
        width: 9rem;
        background-color: #062033;
        opacity: 0.1;
        z-index: 41;
      }

      &:after {
        content: "";
        position: absolute;
        top: 30%;
        display: block;
        left: 3.2rem;
        height: .2rem;
        width: 9rem;
        background-color: #062033;
        opacity: 0.1;
      }

      &--whiteline {
        &:before,
        &:after {
          background-color: white;
          opacity: 0.5;
        }
      }

    }
  }
}

.headline-description {
  text-align: center;
  max-width: 78.2rem;
  font-family: "Open-sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 30.15px;
  padding-bottom: 6.8rem;
}

.icons-mobile {
  display: flex;

  .pic {}

  .description {
    padding-left: 3.9rem;
    display: flex;
    flex-direction: column;

    &__headline {
      color: #062033;
      font-family: "Open-sans", sans-serif;
      font-size: 13px;
      font-weight: 600;
      line-height: 15.08px;
    }

    &__text {
      padding-top: 1.9rem;
      max-width: 21.8rem;
      font-family: "Open-sans", sans-serif;
      font-size: 11px;
      font-weight: 400;

    }
  }
}

#map {
  height: 18rem;
  width: 100%;
  filter: grayscale(80%);
}
