@import "normalize";
@import "fonts";
@import "colors";
@import "items";



html {
  font-size: 10px;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.hide {
  display: none !important;
}

.show {

  display: block !important;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}

.main-page {
  background-image: url(..//img/background.jpg);


  .header {
    display: flex;
    padding-top: 2.3rem;
    padding-bottom: 1rem;
    align-items: center;
    justify-content: space-between;

    &__right-menu {

      .navigation {
        &-list {
          color: #ffffff;
          font-family: "Lato", sans-serif;
          font-weight: 100;
          font-size: 1.2rem;
          margin-right: 2rem;

          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }
  }

  .midl-content {
    padding-top: 24.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .subtitle {
      text-align: center;
      font-family: "Lato", sans-serif;
      font-weight: 100;
      font-size: 48px;
      color: white;

      &__blue {
        color: $t-blue;
      }
    }

    .description {
      padding-top: 2.6rem;
      color: white;
      text-align: center;
      font-family: "Lato", sans-serif;
      font-weight: 100;
      font-size: 18px;
      position: relative;

      &::before {
        position: absolute;
        content: "";
        top: 80%;
        display: block;
        right: -6.8rem;
        height: .2rem;
        width: 2.8rem;
        background-color: $t-blue;

      }

      &::after {
        position: absolute;
        content: "";
        top: 80%;
        display: block;
        left: -6.8rem;
        height: .2rem;
        width: 2.8rem;
        background-color: $t-blue;

      }
    }
  }

  .social {
    padding-top: 10.9rem;
    display: flex;
    justify-content: center;
    padding-bottom: 10rem;

    &__link {
      padding-right: 1.2rem;

      &:last-of-type {
        padding-right: 0;
      }
    }

  }
}

.features {
  background-color: #efefef;

  .item {
    padding-top: 7.9rem;


    .headline-logo {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__text {
        color: $t-blue;
        font-family: "Lato", sans-serif;
        font-weight: 900;
        text-transform: uppercase;
        font-size: 28px;
        letter-spacing: -0.56px;
      }

      &__subtitle {
        padding-top: 2.5rem;


      }
    }

    .serv {
      padding-top: 8.1rem;
      display: flex;
      justify-content: space-between;
      padding-bottom: 11.8rem;

      .items {
        display: flex;

        .img {
          border: 1px solid #4c76ff;
          width: 3.4rem;
          height: 3.4rem;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          text-align: center;
          align-items: center;

          &__list {
            display: inline-block;
          }

        }
      }
    }

    .description {
      padding-left: 1.4rem;
      display: flex;
      flex-direction: column;
      max-width: 25.2rem;

      &__headline {
        color: #062033;
        font-family: "Open-sans", sans-serif;
        font-size: 17px;
        font-weight: 600;
      }

      &__text {
        padding-top: 1.9rem;
        color: #062033;
        font-family: "Open Sans", sans-serif;
        font-size: 11px;
        font-weight: 400;
        line-height: 17.62px;
      }
    }

  }
}

.accusan {
  padding-top: 8.7rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 13.6rem;

  &__headline {
    text-align: center;
    max-width: 78.2rem;
    font-family: "Open-sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 30.15px;
    padding-bottom: 6.8rem;
  }

  .mobile {

    .mobile-item {
      display: flex;
      justify-content: space-between;
      width: 96.4rem;

      &__leftside {
        display: flex;
        flex-direction: column;
        max-height: 42.2rem;
        justify-content: space-between;
        padding-top: 6.2rem;

        .lists {
          display: flex;

          .pic {}

          .description {
            padding-left: 3.9rem;
            display: flex;
            flex-direction: column;

            &__headline {
              color: #062033;
              font-family: "Open-sans", sans-serif;
              font-size: 13px;
              font-weight: 600;
              line-height: 15.08px;
            }

            &__text {
              padding-top: 1.9rem;
              max-width: 21.8rem;
              font-family: "Open-sans", sans-serif;
              font-size: 11px;
              font-weight: 400;

            }
          }
        }
      }

      &__midlside {
        display: block;
        position: relative;

        &:after {
          content: "";
          position: absolute;
          background-image: url(..//img/screen.png);
          width: 235px;
          height: 407px;
          top: 13%;
          left: 6%;
        }
      }

      &__rightside {
        display: flex;
        flex-direction: column;
        max-height: 42.2rem;
        justify-content: space-between;
        padding-top: 6.2rem;
      }
    }
  }
}

.works {

  &__text {
    padding-top: 4.5rem;
    display: flex;
    justify-content: center;

    &-description {
      display: inline-block;
    }

  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__header {
      text-align: center;
      padding-bottom: 8rem;

      &-tab {
        color: #062033;
        font-family: "Lato", sans-serif;
        font-size: 14px;
        font-weight: 900;
        margin-right: 3rem;
        cursor: pointer;
        padding: 1rem 2.1rem .9rem 1.8rem;
        background-color: transparent;
        border-radius: 1rem;

        &:last-of-type {
          margin-right: 0;
        }

        &:hover {
          background-color: $t-blue;
          color: white;

        }
      }
    }

    &__tabcontent {
      max-width: 90rem;
      display: flex;
      justify-content: center;

    }
  }
}

.team {
  padding-top: 10.8rem;
  padding-bottom: 10.8rem;

  &__text {
    padding-top: 4.5rem;
    display: flex;
    justify-content: center;
  }

  &__photo {
    display: flex;
    justify-content: center;
    justify-content: space-between;

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;

      &-name {
        margin-top: 1.7rem;
        color: #062033;
        font-family: "Open-sans", sans-serif;
        font-size: 15px;
        font-weight: 600;
        line-height: 19.91px;
      }

      &-post {
        color: #062033;
        margin-top: 1.1rem;
        font-family: "Open-sans", sans-serif;
        font-size: 11px;
        font-weight: 400;
        line-height: 19.91px;
      }
    }
  }
}

.fun-facts {
  background: url(..//img/town.jpg) center center/cover no-repeat;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;
  flex-direction: column;

  &:after {
    content: "";
    display: block;
    overflow: auto;
    position: absolute;
    background-color: #062033;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    top: 0;
    z-index: 0;
  }

  &__logo {
    padding-top: 7.5rem;
  }

  .numerals {
    padding-top: 2.2rem;
    z-index: 41;
    width: 100%;
    max-width: 77.5rem;
    padding-bottom: 11.8rem;

    .items {
      display: flex;
      justify-content: space-between;

      &__lists {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-logo {
          width: 9.8rem;
          height: 9.8rem;
          border: 2px solid #ffffff;
          opacity: 0.7;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &-number {
          display: block;
          padding-top: 3.8rem;
          color: #ffffff;
          font-family: "Open-sans", sans-serif;
          font-size: 45px;
          font-weight: 600;
        }

        &-text {
          padding-top: 1.4rem;
          display: block;
          color: #ffffff;
          font-family: "Open-sans", sans-serif;
          font-size: 13px;
          font-weight: 400;
          text-transform: uppercase;
        }
      }

    }
  }

}

.discuss {
  text-align: center;
  padding-bottom: 8.9rem;

  &__logo {
    padding-top: 7.8rem;
  }

  &__text {
    display: inline-block;
    padding-top: 5.4rem;
  }

  .feedback {

    .wrap {
      display: flex;
      justify-content: space-between;
      width: 100%;

      &__contacts {
        max-width: 20.4rem;
        text-align: left;

        &-headline {
          color: #062033;
          font-family: "Open-sans", sans-serif;
          font-size: 20px;
          font-weight: 600;
        }

        &-adress {
          padding-top: 4rem;
          max-width: 15.4rem;

          &-city,
          &-tel,
          &-mail,
          &-site {
            display: inline-block;
            line-height: 20.7px;
            color: #6a737b;
            font-family: "Open-sans", sans-serif;
            font-size: 11px;
            font-weight: 400;
          }
        }
      }

      &__letter {
        width: 100%;
        max-width: 64.2rem;
        text-align: start;

        &-headline {
          color: #062033;
          font-family: "Open-sans", sans-serif;
          font-size: 20px;
          font-weight: 700;
          line-height: 20.02px;
        }

        .form {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          width: 100%;
          position: relative;

          &__name,
          &__mail {
            width: 30.9rem;
            border-radius: 0;
            -webkit-appearance: none;
            -webkit-tap-highlight-color: transparent;
            resize: none;
            padding: 1.7rem 0 1.7rem 0;
            display: inline-block;
            margin-bottom: 1.4rem;
            outline: 0;
            outline-offset: 0;
            font-family: "Open-sans", sans-serif;
            font-size: 15px;
            font-weight: 400;
            line-height: 20.02px;
            border: 1px solid #5b646e;
            opacity: 0.5;
            border-left: 0;
            border-top: 0;
            border-right: 0;

            &::placeholder {
              opacity: 0.5;
              color: #5b646e;
              font-family: "Open-sans", sans-serif;
              font-size: 11px;
              font-weight: 400;
              line-height: 20.02px;
            }
          }

          &__message {
            width: 64.3rem;
            border-radius: 0;
            -webkit-appearance: none;
            -webkit-tap-highlight-color: transparent;
            resize: none;
            padding: 1.7rem 0 1.7rem 0;
            display: inline-block;
            margin-bottom: 1.4rem;
            outline: 0;
            outline-offset: 0;
            font-family: "Open-sans", sans-serif;
            font-size: 15px;
            font-weight: 400;
            line-height: 20.02px;
            border: 1px solid #5b646e;
            opacity: 0.5;
            border-left: 0;
            border-top: 0;
            border-right: 0;

            &::placeholder {
              opacity: 0.5;
              color: #5b646e;
              font-family: "Open-sans", sans-serif;
              font-size: 11px;
              font-weight: 400;
              line-height: 20.02px;
            }
          }

          &__btn {
            position: absolute;
            right: 0;
            top: 110%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            background-color: transparent;
            border: none;
            outline: none;
            border: 0;
            color: #000000;
            font-family: "Open-sans", sans-serif;
            font-size: 13px;
            font-weight: 600;
            line-height: 20.02px;

            &-pic {
              margin-right: 1rem;
            }
          }

        }
      }

      &__social {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-link {}
      }
    }
  }
}

.footer {
  background-color: black;
  padding-bottom: 4rem;

  .wrap {
    padding-top: 5rem;
    display: flex;
    justify-content: space-around;

    &__sarajevo {
      max-width: 24.1rem;

      &-text {
        display: inline-block;
        padding-top: 2.6rem;
        color: #ffffff;
        font-family: "Lato";
        font-size: 12px;
        font-weight: 100;
        line-height: 22.9px;
      }
    }

    &__subscribe {
      &-text {
        opacity: 0.8;
        color: #ffffff;
        font-family: "Lato";
        font-size: 18px;
        font-weight: 900;
        line-height: 21.61px;
      }

      &-mail {
        margin-top: 3.9rem;
        position: relative;

        &-point {
          background-color: transparent;
          display: block;
          border: 2px solid #ffffff;
          width: 24.5rem;
          height: 4.2rem;
          line-height: 20.7px;
          color: white;
          font-family: "Open-sans", sans-serif;
          font-size: 11px;
          font-weight: 400;
          outline: 0;
          outline-offset: 0;

        }

        &-btn {
          position: absolute;
          top: .3rem;
          right: .6rem;
          display: block;
          height: 4.2rem;
          width: 4rem;
          border: 2px solid #ffffff;
          background-color: transparent;
          border: 0;
          outline: 0;
          outline-offset: 0;
        }
      }

      &-description {
        padding-top: 2.2rem;
        display: inline-block;
        max-width: 21.4rem;
        color: white;
        font-family: "Open-sans", sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 21.61px;
      }
    }

    &__explore {
      &-headline {
        opacity: 0.8;
        color: #ffffff;
        font-family: "Lato";
        font-size: 18px;
        font-weight: 900;
        line-height: 21.61px;
      }

      .links {
        width: 100%;
        padding-top: 3.5rem;
        display: flex;
        justify-content: space-between;

        &__leftside,
        &__rightside {
          padding-right: 3.5rem;
          &:last-of-type{
            padding-right: 0;
          }
          &-link {
            display: block;
            color: #ffffff;
            font-family: "Open-sans";
            font-size: 12px;
            font-weight: 400;
            line-height: 28.5px;
            
          }
        }
      }
    }
  }
}

@import "media";