{% extends 'html5.html' %}

{% load static %}

{% block html_body %}

<section class="main-page">

        <header class="header wrap">
          <div class="header__left-menu">
            <a href="#" class="header__left-menu logo">
              sarajevo<span class="header__left-menu logo-dot">.</span>
            </a>
          </div>
          <div class="header__right-menu">
            <nav class="navigation">
              <a href="#" class="navigation-list">Home</a>
              <a href="#" class="navigation-list">Features</a>
              <a href="#" class="navigation-list">Works</a>
              <a href="#" class="navigation-list">Team</a>
              <a href="#" class="navigation-list">Contact</a>
            </nav>
          </div>
        </header>
    
        <div class="midl-content wrap">
          <h2 class="logo logo--head">sarajevo <span class=" logo-dot">.</span></h2>
          <h3 class="subtitle"><span class="subtitle__blue">/creative</span> one page template.</h3>
          <h4 class="description">We are a team of professionals</h4>
        </div>
        <div class="social wrap">
          <a href="#" class="social__link"><img src="img/google+.png" alt=""></a>
          <a href="#" class="social__link"><img src="img/google+.png" alt=""></a>
          <a href="#" class="social__link"><img src="img/google+.png" alt=""></a>
          <a href="#" class="social__link"><img src="img/google+.png" alt=""></a>
        </div>
      </section>
    
      <section class="features">
        <div class="item wrap">
          <div class="headline-logo">
            <span class="headline-logo__text">
              features
            </span>
            <div class="headline-logo__subtitle">
              <div class="heart"><img src="img/heart.svg" alt=""></div>
    
            </div>
          </div>
          <div class="serv">
            <div class="items">
              <div class="img">
                <img src="img/pero.png" alt="" class="img__list">
              </div>
              <div class="description">
                <span class="description__headline">
                  Branding
                </span>
                <span class="description__text">
                  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                  rem aperiam, eaque ipsa quae ab illo inventore
                </span>
              </div>
            </div>
            <div class="items">
              <div class="img">
                <img src="img/pencil.png" alt="" class="img__list">
              </div>
              <div class="description">
                <span class="description__headline">
                  Development
                </span>
                <span class="description__text">
                  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                  rem aperiam, eaque ipsa quae ab illo inventore
                </span>
              </div>
            </div>
            <div class="items">
              <div class="img">
                <img src="img/megaphone.png" alt="" class="img__list">
              </div>
              <div class="description">
                <span class="description__headline">
                  Consulting
                </span>
                <span class="description__text">
                  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                  rem aperiam, eaque ipsa quae ab illo inventore
                </span>
              </div>
            </div>
          </div>
        </div>
    
      </section>
    
      <section class="accusan">
        <span class="accusan__headline">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
          aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.
        </span>
        <div class="mobile">
          <div class="mobile-item">
            <div class="mobile-item__leftside">
              <div class="lists">
                <div class="pic">
                  <img src="img/customize.png" alt="" class="img__list">
                </div>
                <div class="description">
                  <span class="description__headline">
                    Accusan timar
                  </span>
                  <span class="description__text">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                  </span>
                </div>
              </div>
              <div class="lists">
                <div class="pic">
                  <img src="img/time.png" alt="" class="img__list">
                </div>
                <div class="description">
                  <span class="description__headline">
                    Accusan timar
                  </span>
                  <span class="description__text">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                  </span>
                </div>
              </div>
              <div class="lists">
                <div class="pic">
                  <img src="img/Music.png" alt="" class="img__list">
                </div>
                <div class="description">
                  <span class="description__headline">
                    Accusan timar
                  </span>
                  <span class="description__text">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                  </span>
                </div>
              </div>
    
            </div>
            <div class="mobile-item__midlside">
              <img src="img/Iphone.png" alt="" class="phone">
    
            </div>
            <div class="mobile-item__rightside">
              <div class="icons-mobile">
                <div class="pic">
                  <img src="img/support.png" alt="" class="img__list">
                </div>
                <div class="description">
                  <span class="description__headline">
                    Accusan timar
                  </span>
                  <span class="description__text">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                  </span>
                </div>
              </div>
    
              <div class="icons-mobile">
                <div class="pic">
                  <img src="img/send.png" alt="" class="img__list">
                </div>
                <div class="description">
                  <span class="description__headline">
                    Accusan timar
                  </span>
                  <span class="description__text">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                  </span>
                </div>
              </div>
    
              <div class="icons-mobile">
                <div class="pic">
                  <img src="img/camera.png" alt="" class="img__list">
                </div>
                <div class="description">
                  <span class="description__headline">
                    Accusan timar
                  </span>
                  <span class="description__text">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                  </span>
                </div>
              </div>
    
            </div>
    
          </div>
        </div>
      </section>
    
      <section class="works">
        <div class="headline-logo">
          <span class="headline-logo__text">
            works
          </span>
          <div class="headline-logo__subtitle">
            <div class=" heart"><img src="img/heart.svg" alt=""></div>
    
          </div>
        </div>
        <div class="works__text">
          <span class="works__text-description headline-description">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam, eaque ipsa quae ab illo inventore
          </span>
        </div>
        <div class="info">
          <div class="info__header">
            <span class="info__header-tab">All</span>
            <span class="info__header-tab">Branding</span>
            <span class="info__header-tab">Web</span>
            <span class="info__header-tab">Logo Design</span>
            <span class="info__header-tab">Photography</span>
          </div>
          <div class="info__tabcontent fade">
            <div class="item">
              <img src="img/kong.jpg" alt="" class="item__pic">
              <img src="img/cap.jpg" alt="" class="item__pic">
              <img src="img/warior.png" alt="" class="item__pic">
              <img src="img/face.png" alt="" class="item__pic">
              <img src="img/man.jpg" alt="" class="item__pic">
              <img src="img/sobre.jpg" alt="" class="item__pic">
            </div>
          </div>
          <div class="info__tabcontent fade">
            <div class="item">
              <img src="img/cap.jpg" alt="" class="item__pic">
              <img src="img/warior.png" alt="" class="item__pic">
              <img src="img/kong.jpg" alt="" class="item__pic">
              <img src="img/face.png" alt="" class="item__pic">
              <img src="img/man.jpg" alt="" class="item__pic">
              <img src="img/sobre.jpg" alt="" class="item__pic">
            </div>
          </div>
          <div class="info__tabcontent fade">
            <div class="item">
              <img src="img/sobre.jpg" alt="" class="item__pic">
              <img src="img/kong.jpg" alt="" class="item__pic">
              <img src="img/cap.jpg" alt="" class="item__pic">
              <img src="img/warior.png" alt="" class="item__pic">
              <img src="img/face.png" alt="" class="item__pic">
              <img src="img/man.jpg" alt="" class="item__pic">
    
            </div>
          </div>
          <div class="info__tabcontent fade">
            <div class="item">
              <img src="img/face.png" alt="" class="item__pic">
              <img src="img/man.jpg" alt="" class="item__pic">
              <img src="img/sobre.jpg" alt="" class="item__pic">
              <img src="img/kong.jpg" alt="" class="item__pic">
              <img src="img/cap.jpg" alt="" class="item__pic">
              <img src="img/warior.png" alt="" class="item__pic">
            </div>
          </div>
          <div class="info__tabcontent fade">
            <div class="item">
              <img src="img/warior.png" alt="" class="item__pic">
              <img src="img/face.png" alt="" class="item__pic">
              <img src="img/kong.jpg" alt="" class="item__pic">
              <img src="img/cap.jpg" alt="" class="item__pic">
              <img src="img/man.jpg" alt="" class="item__pic">
              <img src="img/sobre.jpg" alt="" class="item__pic">
            </div>
          </div>
        </div>
      </section>
    
      <section class="team wrap">
        <div class="headline-logo">
          <span class="headline-logo__text">
            Meet Our Team
          </span>
          <div class="headline-logo__subtitle">
            <div class=" heart"><img src="img/heart.svg" alt=""></div>
          </div>
        </div>
        <div class="team__text">
          <span class="team__text-description headline-description">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam, eaque ipsa quae ab illo inventore
          </span>
        </div>
    
        <div class="team__photo">
          <div class="team__photo-item">
            <img src="img/team1.jpg" alt="" class="team__photo-item-pic">
            <span class="team__photo-item-name">
              John Filmr Doe
            </span>
            <span class="team__photo-item-post">
              Managing Director
            </span>
          </div>
          <div class="team__photo-item">
            <img src="img/team2.jpg" alt="" class="team__photo-item-pic">
            <span class="team__photo-item-name">
              Martin Matrone
            </span>
            <span class="team__photo-item-post">
              Lead Developer
            </span>
          </div>
          <div class="team__photo-item">
            <img src="img/team3.jpg" alt="" class="team__photo-item-pic">
            <span class="team__photo-item-name">
              Steve Flaulkin
            </span>
            <span class="team__photo-item-post">
              Sr. UI Designer
            </span>
          </div>
          <div class="team__photo-item">
            <img src="img/team1.jpg" alt="" class="team__photo-item-pic">
            <span class="team__photo-item-name">
              Chystine Hineu
            </span>
            <span class="team__photo-item-post">
              Lead Designer
            </span>
          </div>
    
        </div>
    
      </section>
    
      <section class="fun-facts">
        <div class="fun-facts__logo headline-logo">
          <span class="headline-logo__text">
            Some Fun Facts
          </span>
          <div class="headline-logo__subtitle">
            <div class="heart heart--whiteline"><img src="img/heart2.png" alt=""></div>
          </div>
        </div>
        <div class="numerals">
          <div class="items">
            <div class="items__lists">
              <div class="items__lists-logo">
                <img src="img/Clock.png" alt="">
              </div>
              <span class="items__lists-number" data-max="3200">
                3200
              </span>
              <span class="items__lists-text">
                Hours of Work
              </span>
            </div>
            <div class="items__lists">
              <div class="items__lists-logo">
                <img src="img/Friends.png" alt="">
              </div>
              <span class="items__lists-number" data-max="120">
                120
              </span>
              <span class="items__lists-text">
                Satisfied Clinets
              </span>
            </div>
            <div class="items__lists">
              <div class="items__lists-logo">
                <img src="img/Rocket.png" alt="">
              </div>
              <span class="items__lists-number">
                360
              </span>
              <span class="items__lists-text">
                Projects delivered
              </span>
            </div>
            <div class="items__lists">
              <div class="items__lists-logo">
                <img src="img/Cup.png" alt="">
              </div>
              <span class="items__lists-number">
                42
              </span>
              <span class="items__lists-text">
                Awards Won
              </span>
            </div>
          </div>
        </div>
      </section>
    
      <section class="discuss wrap">
        <div class="discuss__logo headline-logo">
          <span class="headline-logo__text">
            Some Fun Facts
          </span>
          <div class="headline-logo__subtitle">
            <div class="heart"><img src="img/heart.svg" alt=""></div>
          </div>
        </div>
        <span class="discuss__text headline-description">
          Voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
        </span>
        <div class="feedback">
          <div class="wrap">
            <div class="wrap__contacts">
              <span class="wrap__contacts-headline">
                Cras at ultrices erat, sed vulputate!
              </span>
              <div class="wrap__contacts-adress">
                <span class="wrap__contacts-adress-city">
                  2345 Setwant natrer, 1234,
                  Washington. United States.
                </span>
                <a href="#" class="wrap__contacts-adress-phome">(401) 1234 567</a>
                <a href="#" class="wrap__contacts-adress-mail">hello@brandi.com</a>
                <a href="#" class="wrap__contacts-adress-site">ww.brandi.com</a>
              </div>
            </div>
            <div class="wrap__letter">
              <span class="wrap__letter-headline">
                Say hello!
              </span>
              <form action="{% url 'send_email' %}" class="form" method="post">
                    {% csrf_token %}

                <label for="">
                  <input type="text" placeholder="Name" class="form__name" name="user_name">
                </label>
                <label for="">
                  <input type="email" placeholder="Email" class="form__mail" name="user_mail">
                </label>
                <label for="">
                  <input type="text" placeholder="Message" class="form__message" name="user_message">
                </label>
                <button type="submit" class="form__btn">
                  <img src="img/Envelope.png" alt="" class="form__btn-pic"> Send message
                </button>
              </form>
            </div>
            <div class="wrap__social">
              <a href="" class="wrap__social-link"><img src="img/behance.png" alt=""></a>
              <a href="" class="wrap__social-link"><img src="img/twitter.png" alt=""></a>
              <a href="" class="wrap__social-link"><img src="img/dribbble.png" alt=""></a>
              <a href="" class="wrap__social-link"><img src="img/forrst.png" alt=""></a>
              <a href="" class="wrap__social-link"><img src="img/google_plus.png" alt=""></a>
            </div>
          </div>
        </div>
      </section>
    
      <div id="map"></div>
    
      <footer class="footer">
        <div class="wrap">
          <div class="wrap__sarajevo">
            <h2 class="logo logo--footer">sarajevo <span class=" logo-dot">.</span></h2>
            <span class="wrap__sarajevo-text">
              eusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
              ullamco laboris nisi ut aliquip ex ea commodo
              consequat.
            </span>
          </div>
    
          <div class="wrap__subscribe">
            <span class="wrap__subscribe-text">
              Subscribe
            </span>
            <form action="" class="wrap__subscribe-mail">
              <label for="">
                <input type="email" class="wrap__subscribe-mail-point">
              </label>
              <button type="submit" class="wrap__subscribe-mail-btn">
                <img src="img/Shape_5.png" alt="">
              </button>
            </form>
            <span class="wrap__subscribe-description">
              eusmod tempor incididunt ut labore et dolore magna aliqua.
            </span>
          </div>
          <div class="wrap__explore">
            <span class="wrap__explore-headline">
              Explore
            </span>
            <div class="links">
              <div class="links__leftside">
                <a href="" class="links__leftside-link">Envato</a>
                <a href="" class="links__leftside-link">Themecurve</a>
                <a href="" class="links__leftside-link">Kreativeshowcase</a>
                <a href="" class="links__leftside-link">Freebiescurve</a>
              </div>
              <div class="links__rightside">
                <a href="" class="links__rightside-link">Themeforest</a>
                <a href="" class="links__rightside-link">Microsoft</a>
                <a href="" class="links__rightside-link">Google</a>
                <a href="" class="links__rightside-link">Yahoo</a>
              </div>
    
            </div>
    
          </div>
        </div>
    
      </footer>

{% endblock %}