{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/main.css' %}" rel=preconnect>
  <title>sarajevo</title>
  <meta name="description" content="">
</head>

<body>
  {% block html_body %}{% endblock %}

  <script src="{% static 'js/main.js' %}"></script>
  <script rel="preconnect" src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
</body>